@font-face {
     font-family: iranyekan;
     font-style: normal;
     font-weight: bold;
     src: url("../fonts/eot/iranyekanwebbold.eot");
     src: url("../fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebbold.woff") format("woff"), url("../fonts/ttf/iranyekanwebbold.ttf") format("truetype");
   }
   
   @font-face {
     font-family: iranyekan;
     font-style: normal;
     font-weight: 100;
     src: url("../fonts/eot/iranyekanwebthin.eot");
     src: url("../fonts/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebthin.woff") format("woff"), url("../fonts/ttf/iranyekanwebthin.ttf") format("truetype");
   }
   
   @font-face {
     font-family: iranyekan;
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/eot/iranyekanweblight.eot");
     src: url("../fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanweblight.woff") format("woff"), url("../fonts/ttf/iranyekanweblight.ttf") format("truetype");
   }
   
   @font-face {
     font-family: iranyekan;
     font-style: normal;
     font-weight: normal;
     src: url("../fonts/eot/iranyekanwebregular.eot");
     src: url("../fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebregular.woff") format("woff"), url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype");
   }
   
   @font-face {
     font-family: iranyekan;
     font-style: normal;
     font-weight: 500;
     src: url("../fonts/eot/iranyekanwebmedium.eot");
     src: url("../fonts/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebmedium.woff") format("woff"), url("../fonts/ttf/iranyekanwebmedium.ttf") format("truetype");
   }
  
   @font-face {
     font-family: iranyekan;
     font-style: normal;
     font-weight: 800;
     src: url("../fonts/eot/iranyekanwebextrabold.eot");
     src: url("../fonts/eot/iranyekanwebextrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrabold.woff") format("woff"), url("../fonts/ttf/iranyekanwebextrabold.ttf") format("truetype");
   }
   
   @font-face {
     font-family: iranyekan;
     font-style: normal;
     font-weight: 900;
     src: url("../fonts/eot/iranyekanwebblack.eot");
     src: url("../fonts/eot/iranyekanwebblack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebblack.woff") format("woff"), url("../fonts/ttf/iranyekanwebblack.ttf") format("truetype");
   }
   
   @font-face {
     font-family: iranyekan;
     font-style: normal;
     font-weight: 950;
     src: url("../fonts/eot/iranyekanwebextrablack.eot");
     src: url("../fonts/eot/iranyekanwebextrablack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrablack.woff") format("woff"), url("../fonts/ttf/iranyekanwebextrablack.ttf") format("truetype");
   }
   