// fonts

$mainfont:iranyekan;
$secondfont: 'Lalezar', cursive;
$fontsize:13px;

//color

$white:#fff;
$white100:#F8F8F8;
$white200:#E9E1E1;




$gray100:#707070;
$gray200:#757575;

$blue100:#5e79e4;

$pink:#dd2a7b;
$red:#ed145b;
$blue:#61a8de ;
