/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebbold.eot");
  src: url("../fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebbold.woff") format("woff"), url("../fonts/ttf/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/eot/iranyekanwebthin.eot");
  src: url("../fonts/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebthin.woff") format("woff"), url("../fonts/ttf/iranyekanwebthin.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblight.eot");
  src: url("../fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanweblight.woff") format("woff"), url("../fonts/ttf/iranyekanweblight.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregular.eot");
  src: url("../fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebregular.woff") format("woff"), url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmedium.eot");
  src: url("../fonts/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebmedium.woff") format("woff"), url("../fonts/ttf/iranyekanwebmedium.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextrabold.eot");
  src: url("../fonts/eot/iranyekanwebextrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrabold.woff") format("woff"), url("../fonts/ttf/iranyekanwebextrabold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebblack.eot");
  src: url("../fonts/eot/iranyekanwebblack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebblack.woff") format("woff"), url("../fonts/ttf/iranyekanwebblack.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("../fonts/eot/iranyekanwebextrablack.eot");
  src: url("../fonts/eot/iranyekanwebextrablack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrablack.woff") format("woff"), url("../fonts/ttf/iranyekanwebextrablack.ttf") format("truetype");
}

body {
  font-family: iranyekan;
  direction: rtl;
  font-size: 13px;
  color: #707070;
  background: #fff url(../img/background.svg);
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

header h1 {
  margin-top: 50px;
  margin-bottom: 24px;
}

header h1 a {
  color: #757575;
  font-family: "Lalezar", cursive;
  font-weight: normal;
  font-size: 30px;
}

header h2 {
  font-weight: 500;
  font-size: 16px;
  color: #757575;
  margin-bottom: 67px;
}

.products {
  margin: 0 auto;
  max-width: 1366px;
}

@media only screen and (max-width: 1366px) {
  .products {
    margin: 0 130px;
  }
}

@media only screen and (max-width: 1350px) {
  .products {
    margin: 0 80px;
  }
}

@media only screen and (max-width: 1220px) {
  .products {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 992px) {
  .products {
    margin: 0;
  }
}

.products .items {
  margin: 0 -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .products .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.products .items .item {
  margin: 0 8px;
  width: 33.33%;
  border-radius: 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 992px) {
  .products .items .item {
    margin: 0 200px;
    width: calc(100% - 400px);
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 760px) {
  .products .items .item {
    margin: 0 100px;
    width: calc(100% - 200px);
  }
}

@media only screen and (max-width: 760px) {
  .products .items .item {
    margin: 10px 50px;
    width: calc(100% - 100px);
  }
}

@media only screen and (max-width: 420px) {
  .products .items .item {
    margin: 10px 10px;
    width: calc( 100% - 20px);
  }
}

.products .items .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products .items .item:hover .pic {
  background: #E9E1E1;
}

.products .items .item .pic {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 20px auto 38px auto;
  border-radius: 50%;
  width: 107px;
  height: 107px;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .items .item .pic img {
  max-height: 75px;
}

.products .items .item h3 {
  margin-bottom: 20px;
}

.products .items .item h3 a {
  font-weight: bold;
  font-size: 16px;
  color: #707070;
}

@media only screen and (max-width: 1024px) {
  .products .items .item h3 a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {
  .products .items .item h3 a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .products .items .item h3 a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 992px) {
  .products .items .item h3 a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .products .items .item h3 a {
    font-size: 12px;
  }
}

.products .items .item p {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #707070;
  margin-bottom: 24px;
  line-height: 28px;
}

@media only screen and (max-width: 992px) {
  .products .items .item p {
    font-size: 15px;
  }
}

.products .items .item .go_to_site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 1px solid #5e79e4;
  width: 163px;
  margin: 0 auto;
  padding: 10px 5px;
  color: #5e79e4;
  margin-bottom: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
}

@media only screen and (max-width: 1024px) {
  .products .items .item .go_to_site {
    width: 120px;
  }
}

@media only screen and (max-width: 992px) {
  .products .items .item .go_to_site {
    width: 200px;
  }
}

@media only screen and (max-width: 420px) {
  .products .items .item .go_to_site {
    width: 160px;
  }
}

.products .items .item .go_to_site:hover {
  background: #5e79e4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
}

.products .items .item .go_to_site:hover svg {
  fill: #fff;
}

.products .items .item .go_to_site svg {
  margin-left: 7px;
  fill: #5e79e4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.products .items .item .network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  margin-bottom: 28px;
}

.products .items .item .network li {
  margin: 0 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 992px) {
  .products .items .item .network li {
    width: 40px;
    height: 40px;
  }
}

.products .items .item .network li:hover {
  background: #ed145b;
}

.products .items .item .network li a {
  line-height: 0;
}

.products .items .item .network .instagram {
  border: 1px solid #dd2a7b;
}

.products .items .item .network .instagram svg {
  fill: #dd2a7b;
}

.products .items .item .network .instagram:hover {
  background: #dd2a7b;
}

.products .items .item .network .instagram:hover svg {
  fill: #fff;
}

.products .items .item .network .telegram {
  border: 1px solid #61a8de;
}

.products .items .item .network .telegram:hover {
  background: #61a8de;
}

.products .items .item .network .telegram:hover svg {
  fill: #fff;
}

.products .items .item .network .telegram svg {
  fill: #61a8de;
}

.products .items .item .network .aparat {
  border: 1px solid #ed145b;
}

.products .items .item .network .aparat svg {
  fill: #ed145b;
}

.products .items .item .network .aparat:hover {
  background: #ed145b;
}

.products .items .item .network .aparat:hover svg {
  fill: #fff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39px;
  margin-top: 85px;
  font-weight: 500;
  font-size: 14px;
}

footer a {
  color: #5e79e4;
  margin-right: 4px;
}

footer svg {
  margin: 0 7px;
}
/*# sourceMappingURL=style.css.map */