@import "_reset.scss";
@import "_font.scss";
@import "_variable.scss";
// px to rem function
@function rem($size) {
  @return $size / 16px * 1rem;
}
body {
  font-family: $mainfont;
  direction: rtl;
  font-size: $fontsize;
  color: $gray100;
  background: $white url(../img/background.svg);
}
a {
  text-decoration: none;
}
header {
  text-align: center;
  h1 {
    margin-top: rem(50px);
    margin-bottom: rem(24px);

    a {
      color: $gray200;
      font-family: $secondfont;
      font-weight: normal;
      font-size: rem(30px);
    }
  }
  h2 {
    font-weight: 500;
    font-size: rem(16px);
    color: $gray200;
    margin-bottom: rem(67px);
  }
}
.products {
  margin: 0 auto;
  max-width: rem(1366px);
  @include mq(1366) {
    margin: 0 rem(130px);
  }
  @include mq(1350) {
    margin: 0 rem(80px);
  }
  @include mq(1220) {
    margin: 0 rem(20px);
  }
  @include mq(992) {
    // margin: 0;
  }
  .items {
    margin: 0 rem(-8px);
    display: flex;
    @include mq(992) {
      flex-direction: column;
    }

    .item {
      margin: 0 rem(8px);
      width: 33.33%;
      border-radius: rem(20px);
      background: $white;
      border: rem(1px) solid rgba(0, 0, 0, 0.05);
      box-shadow: 0 rem(3px) rem(15px) rgba(0, 0, 0, 0.05);
      text-align: center;
      transition: all 0.5s;
      @include mq(992) {
        margin: 0 rem(200px);
        width: calc(100% - 400px);
        margin-bottom: rem(20px);
      }
      @include mq(760) {
        margin: 0 100px;
        width: calc(100% - 200px);
      }
      @include mq(760) {
        margin: rem(10px) rem(50px);
        width: calc(100% - 100px);
      }
      @include mq(420) {
        margin: rem(10px) rem(10px);
        width: calc(100% - 20px);
      }
      &:hover {
        transform: scale(1.1);
        .pic {
          background: $white200;
        }
      }
      .pic {
        transition: all 0.5s;
        margin: rem(20px) auto rem(38px) auto;
        border-radius: 50%;
        width: rem(107px);
        height: rem(107px);
        background: $white100;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-height: rem(75px);
        }
      }
      h3 {
        margin-bottom: rem(20px);

        a {
          font-weight: bold;
          font-size:rem(16px) ;
          color: $gray100;
          @include mq(1024) {
            font-size: rem(14px);
          }
          @include mq(992) {
            font-size: rem(16px);
          }
          @include mq(992) {
            font-size: rem(18px);
          }
          @include mq(992) {
            font-size: rem(15px);
          }
          @include mq(992) {
            font-size: rem(12px);
          }
        }
      }
      p {
        font-weight: normal;
        font-size: rem(12px);
        text-align: center;
        color: $gray100;
        margin-bottom: rem(24px);
        line-height:rem(28px) ;
        @include mq(992) {
          font-size: rem(15px);
        }
      }
      .go_to_site {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        border: rem(1px) solid $blue100;
        width: rem(163px);
        margin: 0 auto;
        padding: rem(10px) rem(5px);
        color: $blue100;
        margin-bottom: rem(50px);
        transition: all 0.5s;
        border-radius: rem(3px);
        @include mq(1024) {
          width: 120px;
        }
        @include mq(992) {
          width:rem(200px) ;
        }
        @include mq(420) {
          width: rem(160px);
        }
        &:hover {
          background: $blue100;
          transform: scale(1.1);
          color: $white;
          svg {
            fill: $white;
          }
        }
        svg {
          margin-left: rem(7px);
          fill: $blue100;
          transition: all 0.5s;
        }
      }
      .network {
        display: flex;
        justify-content: center;
        justify-content: center;
        margin-bottom: rem(28px);
        li {
          margin: 0 rem(7px);
          width: rem(30px);
          height: rem(30px);
          border-radius: 50%;
          border: rem(1px) solid #000;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.5s;
          @include mq(992) {
            width: rem(40px);
            height: rem(40px);
          }
          &:hover {
            background: $red;
          }

          a {
            line-height: 0;
          }
        }
        .instagram {
          border: rem(1px) solid $pink;
          svg {
            fill: $pink;
          }
          &:hover {
            background: $pink;
            svg {
              fill: $white;
            }
          }
        }
        .telegram {
          border: rem(1px) solid $blue;
          &:hover {
            background: $blue;
            svg {
              fill: $white;
            }
          }
          svg {
            fill: $blue;
          }
        }
        .aparat {
          border: rem(1px) solid $red;
          svg {
            fill: $red;
          }
          &:hover {
            background: $red;
            svg {
              fill: $white;
            }
          }
        }
      }
    }
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(39px);
  margin-top: rem(85px);
  font-weight: 500;
  font-size: rem(14px);

  a {
    color: $blue100;
    margin-right: rem(4px);
  }
  svg {
    margin: 0 rem(7px);
  }
}
